<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Реєстрація</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div id="globalbox">

    <header class="block">
        <a th:href="@{/}" id="main-a">
            <h1> Tenders.UA </h1>
        </a>

        <nav>
            <a href="#">Про платформу</a>
            <a href="#">Законодавство</a>
            <a href="#">Контакти</a>
        </nav>

        <button id="profile-btn" th:attr="onclick=|window.location.href='@{/account}'|">
            <span style="margin-right: 5px" th:if="${session.user == null}">
                Log In
            </span>
            <img th:src="@{/images/Account_Icon.png}" width="25px" height="25px">
        </button>
    </header>

    <div class="centered">
        <div class="block" style="padding: 10px 20px;">
            <h4>+ Створення тендера</h4>
        </div>

        <form class="block" style="width: 800px;" th:action="@{/tenders}" method="POST">
            <h5>Загальна інформація</h5>

            <div class="field-t" style="margin-top: 15px;">
                <span id="label-tName">* Назва пропозиції</span>
                <div class="field-input">
                    <textarea name="title" style="width: 480px;"
                           required maxlength="255"
                           oninvalid="document.getElementById('label-tName').style.color = 'red';"
                           oninput="document.getElementById('label-tName').style.color = 'black';"></textarea>
                </div>
            </div>

            <div class="field-t">
                <span id="label-tDescription">* Розгорнутий опис</span>
                <div class="field-input">
                    <textarea name="description" style="width: 480px; height: 300px;"
                           required maxlength="5000"
                           oninvalid="document.getElementById('label-tDescription').style.color = 'red';"
                           oninput="document.getElementById('label-tDescription').style.color = 'black';"></textarea>
                </div>
            </div>

            <h5>Адреса</h5>

            <div class="field-t">
                <span id="label-tRegion">* Область</span>
                <div class="field-input">
                    <select name="region" style="width: 480px;"
                            required
                            oninvalid="document.getElementById('label-tRegion').style.color = 'red';"
                            oninput="document.getElementById('label-tRegion').style.color = 'black';">>
                        <option value="">-- Оберіть область --</option>
                        <th:block th:each="region : ${regions}">
                            <option th:value="${region.name()}" th:text="${region.displayName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="field-t">
                <span id="label-tPostIndex">* Поштовий індекс</span>
                <div class="field-input">
                    <input type="text" name="postIndex" style="width: 480px;"
                           required maxlength="5" pattern="^\d{5}$"
                           oninvalid="document.getElementById('label-tPostIndex').style.color = 'red';"
                           oninput="document.getElementById('label-tPostIndex').style.color = 'black';">
                </div>
            </div>

            <div class="field-t">
                <span id="label-city">* Населений пункт</span>
                <div class="field-input">
                    <input type="text" name="city" style="width: 480px;"
                           required maxlength="64"
                           oninvalid="document.getElementById('label-city').style.color = 'red';"
                           oninput="document.getElementById('label-city').style.color = 'black';">
                </div>
            </div>

            <div class="field-t">
                <span id="label-address">* Адреса</span>
                <div class="field-input">
                    <input type="text" name="address" style="width: 480px;"
                           required maxlength="255"
                           oninvalid="document.getElementById('label-address').style.color = 'red';"
                           oninput="document.getElementById('label-address').style.color = 'black';">
                </div>
            </div>

            <h5>Умови</h5>

            <div class="field-t">
                <span id="label-budget">* Бюджет</span>
                <div class="field-input">
                    <input type="number" name="budget" style="width: 480px;"
                           required
                           oninvalid="document.getElementById('label-budget').style.color = 'red';"
                           oninput="document.getElementById('label-budget').style.color = 'black';">
                </div>
            </div>

            <div class="field-t">
                <span id="label-deadline">Дедлайн</span>
                <div class="field-input">
                    <input style="width: 480px;"
                            type="datetime-local"
                            name="deadline"
                            id="localDateTime"
                            oninvalid="document.getElementById('label-deadline').style.color='red';"
                            oninput="document.getElementById('label-deadline').style.color='black';"
                            required />
                    <input type="hidden" name="zoneId" id="zoneId"/>
                </div>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const zone = Intl.DateTimeFormat().resolvedOptions().timeZone;
                    document.getElementById("zoneId").value = zone;
                });
            </script>

            
            <div th:if="${error}" class="text-danger" style="margin-top: 10px; text-align: center;">
                <p th:text="${error}"></p>
            </div>

            <div id="login-btn">
                <button id="login-btn" style="width: 200px" type="submit">
                    Створити тендер
                </button>
            </div>
        </form>
    </div>

</div>

<script th:src="@{/js/PasswordConfirm.js}"></script>

</body>
</html>
