
<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мій профіль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div id="globalbox">

    <header class="block">
        <a th:href="@{/}" id="main-a">
            <h1> Tenders.UA </h1>
        </a>

        <nav>
            <a href="#">Про платформу</a>
            <a href="#">Законодавство</a>
            <a href="#">Контакти</a>
        </nav>

        <button id="profile-btn" th:attr="onclick=|window.location.href='@{/account}'|">
            <span style="margin-right: 5px" th:if="${session.user == null}">
                Log In
            </span>
            <img th:src="@{/images/Account_Icon.png}" width="25px" height="25px">
        </button>
    </header>
        <div class="block" id="T-box" style="padding-top: 20px;">
            <div id="Tdesc-box">
                <h3 style="margin-bottom: 10px;" th:text="${tender.title}">tender.title</h3>
                    <div class="acc-info">
                        <img th:src="@{/images/location.png}" width="18px" height="18px">
                        <span th:text="${tender.city + ', ' + tender.address + ', ' + tender.region}">tender.city + address + region</span>
                    </div>
                    <div class="acc-info">
                        <img th:src="@{/images/business-and-trade.png}" width="18px" height="18px">
                        <span th:text="${tender.creatorName}">tender.creatorName</span>
                    </div>
                    <div class="acc-info">
                        <img th:src="@{/images/business-and-trade.png}" width="18px" height="18px">
                        <span th:text="'ЄДРПОУ: ' + ${tender.creatorId}">ЄДРПОУ: tender.creatorID</span>
                    </div>
                <br>
                <span style="font-size: 18px;"><b>Про тендер:</b></span>
                <p th:text="${tender.description}">
                    tender.description
                </p>
            </div>
            <div id="Tinfo-box">
                <h5 style="margin-bottom: 10px;">Деталі тендеру</h5>

                <div class="acc-info">
                    <span style="color: #585858;">Статус:</span>
                    <span th:text="${tender.status.getDisplayName()}"><b>tender.status</b></span>
                </div>

                <div class="acc-info">
                    <span style="color: #585858;">Бюджет:</span>
                    <span th:text="${tender.budget} + ' UAH'"><b>tender.budget UAH</b></span>
                </div>

                <div class="acc-info">
                    <span style="color: #585858;">Телефон:</span>
                    <span th:text="${tender.creatorTel}"><b>tender.creatorTel</b></span>
                </div>

                <div class="acc-info" th:if="${tender.creatorTel2 != null}">
                    <span style="color: #585858;">Телефон:</span>
                    <span th:text="${tender.creatorTel2}"><b>tender.creatorTel2</b></span>
                </div>

                <div class="acc-info">
                    <span style="color: #585858;">Дедлайн:</span>
                    <span th:text="${#temporals.format(tender.deadline, 'dd.MM.yyyy HH:mm')}"><b>tender.deadline</b></span>
                </div>

                <button id="profile-btn" style="margin: 15px;">
                    <span style="margin-right: 5px">
                        Подати пропозицію
                    </span>
                </button>

            </div>
        </div>
</div>
</body>
</html>
